<section id="about">
    <div class="mx-auto max-w-screen-2xl px-4 py-16 sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 lg:h-screen lg:grid-cols-2">
        <div class="relative z-10 lg:py-16">
          <div class="relative h-64 sm:h-80 lg:h-full">
            <img
              alt="my picture"
              src="https://images2.thanhnien.vn/528068263637045248/2025/1/27/dji0689-17379927648241684962471.jpg"
              class="absolute inset-0 h-full w-full object-cover"
            />
          </div>
        </div>
  
        <div class="relative flex items-center bg-gray-100">
          <span
            class="hidden lg:absolute lg:inset-y-0 lg:-start-16 lg:block lg:w-16 lg:bg-gray-100"
          ></span>
  
          <div class="p-8 sm:p-16 lg:p-24">
            <h2 class="text-2xl font-bold sm:text-3xl">
              About me
            </h2>
  
            <p class="mt-4 text-gray-600">
              I have about 8 years of experience in software development, 
              working in various fields such as e-commerce, cryptocurrency, 
              and corporate quality management. I have held positions ranging 
              from software developer to training interns, developing product 
              ideas based on technical expertise, and participating in event 
              projects. With the knowledge accumulated over the years in the 
              IT industry, I hope to help your company or organization grow 
              and maintain the growth of its projects!
            </p>
  
            
        </div>
      </div>
    </div>
  </div>
</section>