<header class="pattern">
  <div class="px-6 mx-auto">
    <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8 py-6">
      <div class="flex h-16 items-center justify-between">
        <div class="flex-1 md:flex md:items-center md:gap-12">
          <%= link_to root_path, class: "block" do %>
            <span class="sr-only">Home</span>
            <%= image_tag "https://www.svgrepo.com/show/452095/ruby.svg", class: "w-auto h-6 sm:h-12", alt: "logo" %>
          <% end %>
        </div>

        <div class="flex lg:hidden px-6">
          <button id="menu-toggle" type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-1.5 text-gray-300">
            <span class="sr-only">Open main menu</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
          </button>
        </div>

        <div class="hidden lg:flex lg:gap-x-12">
          <ul class="flex items-center gap-6 text-sm">
            <% ["about", "projects", "blogs", "contact"].each do |section| %>
              <li>
                <%= link_to section.capitalize, "##{section}", class: "py-1 text-sm font-light text-white transition-colors duration-300 transform hover:underline underline-offset-8 tracking-widest custom-font-2" %>
              </li>
            <% end %>
            <li>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "py-1 text-sm font-light text-white transition-colors duration-300 transform hover:underline underline-offset-8 tracking-widest custom-font-2" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>