<header class="pattern">
  <div class="px-6 mx-auto">
    <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8 py-6">
      <div class="flex h-16 items-center justify-between">
        <div class="flex-1 md:flex md:items-center md:gap-12">
          <a class="block" href="#">
            <span class="sr-only">Home</span>
            <img class="w-auto h-6 sm:h-12" src="https://www.svgrepo.com/show/452095/ruby.svg" alt="logo" />
          </a>
        </div>

        <div class="flex lg:hidden px-6">
          <button
            id="menu-toggle"
            type="button"
            class="-m-2.5 inline-flex items-center justify-center rounded-md p-1.5 text-gray-300"
          >
            <span class="sr-only">Open main menu</span>
            <svg
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
              />
            </svg>
          </button>
        </div>

        <div class="hidden lg:flex lg:gap-x-12">
          <ul class="flex items-center gap-6 text-sm">
            <li>
              <a
                class="px-1 py-1 text-sm font-light text-white transition-colors duration-300 transform hover:underline underline-offset-8 tracking-widest custom-font-2"
                href="#about"
              >
                About
              </a>
            </li>
            <li>
              <a
                class="py-1 text-sm font-light text-white transition-colors duration-300 transform hover:underline underline-offset-8 tracking-widest custom-font-2"
                href="#projects"
              >
                Projects
              </a>
            </li>
            <li>
              <a
                class="py-1 text-sm font-light text-white transition-colors duration-300 transform hover:underline underline-offset-8 tracking-widest custom-font-2"
                href="#contact"
              >
                Contact
              </a>
            </li>
          </ul>
        </div>

        <!-- Mobile menu, show/hide based on menu open state -->
        <div class="hidden" role="dialog" aria-modal="true" id="menu">
          <div class="fixed inset-0 z-10">
            <div
              class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-10 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
            >
              <div class="flex lg:hidden px-8 items-center justify-between">
                <a href="#" class="-m-1.5 p-1.5">
                  <span class="sr-only">Home</span>
                </a>
                <button
                  type="button"
                  id="close-menu"
                  class="inline-flex items-center justify-center rounded-md p-1.5 text-gray-700"
                >
                  <span class="sr-only">Close menu</span>
                  <svg
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M6 18L18 6M6 6l12 12"
                    />
                  </svg>
                </button>
              </div>

              <div class="mt-6 flow-root">
                <div class="-my-6 divide-y divide-gray-500/10">
                  <div class="space-y-2 py-6">
                    <a
                      href="#"
                      class="-mx-3 text-sm font-semibold leading-6 text-center text-gray-900 block px-4 py-2 hover:bg-gray-100"
                    >
                      About
                    </a>
                    <a
                      href="#"
                      class="-mx-3 text-sm font-semibold leading-6 text-center text-gray-900 block px-4 py-2 hover:bg-gray-100"
                    >
                      Projects
                    </a>
                    <a
                      href="#"
                      class="-mx-3 text-sm font-semibold leading-6 text-center text-gray-900 block px-4 py-2 hover:bg-gray-100"
                    >
                      Contact
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End of Mobile menu, show/hide based on menu open state -->
      </div>
    </div>

    <div class="flex flex-col items-center py-6">
      <div
        class="mx-auto max-w-screen-xl px-4 justify-center text-center flex h-screen items-center"
      >
        <div class="mx-auto max-w-3xl text-center -mt-60">
          <h1
            class="text-gray-200 bg-clip-text font-normal lg:text-7xl text-3xl tracking-wider custom-font-1"
          >
            Peter Hua
          </h1>

          <p
            class="text-gray-300 mx-auto mt-4 max-w-xl sm:text-xl/relaxed tracking-wider font-light"
          >
            Short description
          </p>
        </div>
      </div>
    </div>
  </div>
</header>