<section  id="projects">
  <div class="max-w-screen-xl px-4 py-8 mx-auto sm:px-6 sm:py-12 lg:px-8">
    <header class="text-center">
      <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">
        My projects
      </h2>

      <p class="max-w-lg mx-auto mt-4 text-gray-500">
        All project will be update here. And then you can see my project
      </p>
    </header>

    <ul class="grid grid-cols-1 gap-4 mt-8 lg:grid-cols-3">
      <li>
        <a href="#" class="relative block group">
          <img
            src="https://www.vietnambooking.com/wp-content/uploads/2024/03/canh-dep-nhat-ban-14.jpg"
            alt=""
            class="object-cover w-full transition duration-500 aspect-square group-hover:opacity-90"
          />
        </a>
      </li>

      <li>
        <a href="#" class="relative block group">
          <img
            src="https://pystravel.vn/_next/image?url=https%3A%2F%2Fobjectstorage.omzcloud.vn%2Fpys-object-storage%2Fweb%2Fuploads%2Fposts%2Favatar%2F1647850837.jpg&w=3840&q=75"
            alt=""
            class="object-cover w-full transition duration-500 aspect-square group-hover:opacity-90"
          />
        </a>
      </li>

      <li class="lg:col-span-2 lg:col-start-2 lg:row-span-2 lg:row-start-1">
        <a href="#" class="relative block group">
          <img
            src="https://images.travelandleisureasia.com/wp-content/uploads/sites/4/2023/10/26162104/lijang.jpeg"
            alt=""
            class="object-cover w-full transition duration-500 aspect-square group-hover:opacity-90"
          />
        </a>
      </li>
    </ul>
  </div>
</section>

<section class="bg-gray-100">
    <div class="container px-4 py-16 mx-auto space-y-8 lg:max-w-3xl">
        <h2 class="text-2xl font-bold md:text-4xl">My work experience</h2>
        <div class="space-y-8">
            <div>
                <h3 class="mb-3 text-lg font-bold md:text-xl">2024</h3>
                <ul class="space-y-4">
                    <li class="space-y-1">
                        <div class="flex items-center space-x-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-4 h-4 fill-current ">
                                <path d="M426.072,86.928A238.75,238.75,0,0,0,88.428,424.572,238.75,238.75,0,0,0,426.072,86.928ZM257.25,462.5c-114,0-206.75-92.748-206.75-206.75S143.248,49,257.25,49,464,141.748,464,255.75,371.252,462.5,257.25,462.5Z"></path>
                                <polygon points="221.27 305.808 147.857 232.396 125.23 255.023 221.27 351.063 388.77 183.564 366.142 160.937 221.27 305.808"></polygon>
                            </svg>
                            <h4 class="font-medium">CloudStorm (Canada) Position: Senior Developer</h4>
                        </div>
                        <p class="ml-7 ">Sub lead. Discuss new features, write API, document, maintain, Fix bugs ASAP, write new features using Rails and Js support/training team members, try to improve performance ( by sql query, avoid n+1, garbage variable…)</p>
                    </li>
                    <li class="space-y-1">
                        <div class="flex items-center space-x-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-4 h-4 fill-current ">
                                <path d="M426.072,86.928A238.75,238.75,0,0,0,88.428,424.572,238.75,238.75,0,0,0,426.072,86.928ZM257.25,462.5c-114,0-206.75-92.748-206.75-206.75S143.248,49,257.25,49,464,141.748,464,255.75,371.252,462.5,257.25,462.5Z"></path>
                                <polygon points="221.27 305.808 147.857 232.396 125.23 255.023 221.27 351.063 388.77 183.564 366.142 160.937 221.27 305.808"></polygon>
                            </svg>
                            <h4 class="font-medium">Gumi (Japan) Position: Senior Developer</h4>
                        </div>
                        <p class="ml-7 ">Backend lead. Support API, Refactor code and API, schema files,  idea for mobile app, meeting & estimate task.</p>
                    </li>
                </ul>
            </div>
            <div>
                <h3 class="mb-3 text-lg font-bold md:text-xl">2022</h3>
                <ul class="space-y-4">
                    <li class="space-y-1">
                        <div class="flex items-center space-x-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-4 h-4 fill-current ">
                                <path d="M426.072,86.928A238.75,238.75,0,0,0,88.428,424.572,238.75,238.75,0,0,0,426.072,86.928ZM257.25,462.5c-114,0-206.75-92.748-206.75-206.75S143.248,49,257.25,49,464,141.748,464,255.75,371.252,462.5,257.25,462.5Z"></path>
                                <polygon points="221.27 305.808 147.857 232.396 125.23 255.023 221.27 351.063 388.77 183.564 366.142 160.937 221.27 305.808"></polygon>
                            </svg>
                            <h4 class="font-medium">GNT (Japan) Position: Senior Developer</h4>
                        </div>
                        <p class="ml-7 ">Lead mentor of the project. Responsible for resolving solutions, managing system logs and issues, implementing new features, overseeing testing, and training two new members in web application development.</p>
                    </li>
                    <li class="space-y-1">
                        <div class="flex items-center space-x-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-4 h-4 fill-current ">
                                <path d="M426.072,86.928A238.75,238.75,0,0,0,88.428,424.572,238.75,238.75,0,0,0,426.072,86.928ZM257.25,462.5c-114,0-206.75-92.748-206.75-206.75S143.248,49,257.25,49,464,141.748,464,255.75,371.252,462.5,257.25,462.5Z"></path>
                                <polygon points="221.27 305.808 147.857 232.396 125.23 255.023 221.27 351.063 388.77 183.564 366.142 160.937 221.27 305.808"></polygon>
                            </svg>
                            <h4 class="font-medium">GNT (Japan) Position: Senior Developer</h4>
                        </div>
                        <p class="ml-7 ">Developed a microservice system, set up Kubernetes environments, implemented Grafana, and established a monitoring system. Provided weekly progress reports and collaborated with the DevOps team.</p>
                    </li>
                    <li class="space-y-1">
                        <div class="flex items-center space-x-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-4 h-4 fill-current ">
                                <path d="M426.072,86.928A238.75,238.75,0,0,0,88.428,424.572,238.75,238.75,0,0,0,426.072,86.928ZM257.25,462.5c-114,0-206.75-92.748-206.75-206.75S143.248,49,257.25,49,464,141.748,464,255.75,371.252,462.5,257.25,462.5Z"></path>
                                <polygon points="221.27 305.808 147.857 232.396 125.23 255.023 221.27 351.063 388.77 183.564 366.142 160.937 221.27 305.808"></polygon>
                            </svg>
                            <h4 class="font-medium">GNT (Japan) Position: Senior Developer</h4>
                        </div>
                        <p class="ml-7 ">Senior dev. Fix bugs with backend PHP, Design ELK stack for monitoring logs & support some components VueJs...</p>
                    </li>
                </ul>
            </div>
            
        </div>
    </div>
</section>
