<section class="bg-gray-100">
        <div class="container grid grid-cols-1 gap-10 px-6 py-12 mx-auto lg:grid-cols-3">
            <div>
                <h1 class="mt-2 text-2xl font-semibold text-gray-800 md:text-3xl ">My technical skillset</h1>    
                <p class="mt-3 text-gray-500 ">Fullstack developer, DevOps, Engineer</p>
            </div>
    
            <div class="grid grid-cols-1 gap-12 lg:col-span-2 sm:grid-cols-2">
                <div>
                    <h2 class="font-semibold text-lg text-gray-800 ">Ruby</h2>
                    <p class="mt-1 text-gray-500 ">Proficient in Ruby, experienced in building web applications with Ruby on Rails, 
                    optimizing performance, and writing clean, maintainable code.</p>
                </div>
    
                <div>
                    <h2 class="font-semibold text-lg text-gray-800 ">Languages</h2>
                    <p class="mt-1 text-gray-500 ">Strong English communication skills, capable of collaborating with international teams, 
                    writing technical documentation, and participating in discussions effectively.</p>
                </div>
                <div>
                    <h2 class="font-semibold text-lg text-gray-800 ">JS</h2>
                    <p class="mt-1 text-gray-500 ">Experienced in JavaScript development, working with ES6+, AJAX, 
                    and modern frontend frameworks like React or Vue.js</p>
                </div>
                <div>
                    <h2 class="font-semibold text-lg text-gray-800 ">SQL</h2>
                    <p class="mt-1 text-gray-500 ">Strong background in database design and optimization using PostgreSQL/MySQL, 
                    writing efficient queries, and handling large datasets.</p>
                </div>
                <div>
                    <h2 class="font-semibold text-lg text-gray-800 ">DevOps</h2>
                    <p class="mt-1 text-gray-500 ">Knowledge of CI/CD pipelines, infrastructure management with Docker and Kubernetes, 
                    deployment optimization, and system monitoring.</p>
                </div>
                <div>
                    <h2 class="font-semibold text-lg text-gray-800 ">Git</h2>
                    <p class="mt-1 text-gray-500 ">Proficient in Git and collaborative workflows with GitHub/GitLab, 
                    managing source code, branching strategies, code reviews, and resolving merge conflicts efficiently.</p>
                </div>
            </div>
        </div>
    </section>